/* <--- VERSIONE DESKTOP ---> */
.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* *************************** */
/* <--- VERSIONE TABLET ---> */
/* *************************** */

@media screen and (max-width: 820px) {

  /* COMMON */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .row {
    width: 100%;
    margin-top: 20px;
  }

  .row h1{
    padding-top: 10px;
    font-size: 25px;
  }

  .right{
    margin-bottom: 10px;
  }

  .container.grey {
    background-color: transparent;
  }

  img{
    height: 150px;
  }

  hr{
    display: none;
  }

  /* BLOCCO LEZIONI */
  #lezioni, #why{
    background-color: #F2F1D1;
  }

  #lezioni .row{
    margin-top: 0;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central{
    width: 50%;
  }

  #steps .row>.right {
    width: 100%;
    float: none;
    margin-top: 100px;
    font-size: 14px;
  }

  #steps .row>.right img{
    margin-top: 50px;
  }

  /* BLOCCO PERCHE */


  #why .row>.first,
  #why .row>.second {
    width: 50%;
    float: left;
    margin-top: 15px;
    font-size: 14px;
  }

  #why .row>.third{
    float: left;
    width: 100%;
    margin-top: 20px;
  }

  #why .row img {
    padding: 20px
  }

}

/* *************************** */
/* <--- VERSIONE MOBILE ---> */
/* *************************** */

@media screen and (max-width: 419px) {

  /* COMMON */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: 100%;
    margin-top: 0px;
  }

  .row h1{
    padding-top: 10px;
    font-size: 25px;
  }

  .right{
    margin-bottom: 10px;
  }

  .container.grey {
    background-color: transparent;
  }

  img{
    height: 100px;
  }

  hr{
    display: block;
  }

  /* BLOCCO LEZIONI */
  #lezioni, #why{
    background-color: #F2F1D1;
  }

#lezioni .row>.left, #lezioni .row>.right {
  width: 100%;
  float: none;
  margin-top: 15px;
  font-size: 14px;
}

/* BLOCCO STEPS */
#steps .row>.left, #steps .row>.central, #steps .row>.right {
  width: 100%;
  float: none;
  margin-top: 15px;
  font-size: 14px;
}

/* BLOCCO PERCHE */
#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
}

#why .row img {
  padding: 20px
}



}


